footer
      
      .infoblock
          p='Имеются противопоказания. перед применением ознакомьтесь с инструкцией.'
      .footer   
        .footer-container
          .main-container
            .footer-information
              a.our-site(href='/')='Сайт производителя'
              p.law-info='Производитель: LLC "KRKA PHARMA". '
              p.law-info
                |Московский офис: 125212, Москва, св. Головинское шоссе,
                |корпус 5, здание 1, 22 этаж, Бизнес-центр "Водный"' 
                p.all-right-reserved='©Все права защищены 2020'
            .footer-links
              .only-links
                a.footer-link(href='/')='Статьи'
                br.articles-footer
                a.footer-link(href='/')='Где купить'
                br.buy-footer
                a.footer-link(href='/')='Контакты'
                br.contancts-footer
                a.footer-link(href='/')='Юридические аспекты'
                br.law-footer
                a.footer-link(href='/')='Политика конфиденциальности'  
                br.confidential-footer          
                a.footer-link(href='/')='Сообщение о побочных эффектах'
                br.afteruses-footer
              p.footer-warn
                  |Информация, размещенная на сайте, носит справочный характер и не может 
                  |считаться консультацией медицинского работника или заменить ее. 
                  |Для получения более подробной информации мы рекомендуем вам обратиться к специалисту.
            p.all-right-reserved-mobile='©Все права защищены 2020'
            img.footer-logo(src='/assets/img/krka.svg')
      .mobile-block-always
        .mobile-container
          .logo-down
            img(src='/assets/img/logo.svg') 
          .slogan-down
            span='Тотальное действие для настройки больного горла!'
          .button-down
            a(href='/')='Где купить'
              
      
            
