header
    .menu-mobile      
      .other-menu      
          ul
            li
              div
                span='Продукты компании'
                svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")
              ul.menu-head
                li
                  a(href='/')='Septolete® total spray'
                li
                  a(href='/')='Septolete® total lollipops'
            li
              div
                span='Полезная информация'
                svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")  
              ul.menu-head
                li
                  a(href='/')='Статьи'
                li
                  a(href='/')='Контакты'
                li
                  a(href='/')='Для детей'
            li
              div
                span='Инструкции'
                svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")  
              ul.menu-head
                li
                  a(href='/')='1'
                li
                  a(href='/')='2'  
          .button-in-menu
            a(href='/')='Где купить'  
          .lang-menu
            a(href='/')='EN'
            img.point-menu(src='/assets/img/point.svg')
            a(href='/')='RU'          
    .container#top          
          img.logo(src='/assets/img/logo.svg')          
          ul.topmenu
            li.menu='Продукты компании'
              svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")
              ul.submenu
                li
                  a(href='/')='Septolete® total spray'
                li
                  a(href='/')='Septolete® total lollipops'
            li.menu='Полезная информация'
              svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")  
              ul.submenu
                li
                  a(href='/')='1'
                li
                  a(href='/')='2'
            li.menu='Инструкции'
              svg.arrow(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4.00185 4.0879L0.525406 0.176903C0.405204 0.0416961 0.210326 0.0416961 0.0901243 0.176903C-0.0300417 0.31215 -0.0300417 0.531368 0.0901243 0.666595L3.78421 4.82244C3.90441 4.95762 4.09929 4.95762 4.21949 4.82244L7.91357 0.666595C8.03168 0.529013 8.02829 0.309776 7.906 0.176903C7.7867 0.0472962 7.59757 0.0472962 7.47829 0.176903L4.00185 4.0879Z" fill="#20384E")  
              ul.submenu
                li
                  a(href='/')='1'
                li
                  a(href='/')='2'          
          .button
            a(href='/')='Где купить'
          p.slogan='Тотальное действие для настройки больного горла!'
          .lang
            a(href='/')='EN'
            img.point(src='/assets/img/point.svg')
            a(href='/')='RU'
          img.menu_button_mobile(src='/assets/img/menu_768.svg')
    
          
              
            
