
mixin interesting-block (url)
  .mixin-interesting-block 
    .container
      .interesting-text
          p.interesting='Это интересно!'
          a.all-articles(href='/')='Все статьи'
            svg(width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M32.9592 3.61777L29.47 0.158303C29.2572 -0.0527676 28.9119 -0.0527676 28.699 0.158303C28.4861 0.369417 28.4861 0.711644 28.699 0.922758L31.2575 3.45945L0.545175 3.45945C0.244108 3.45945 0 3.70149 0 3.99999C0 4.29846 0.244108 4.54054 0.545175 4.54054L31.2575 4.54054L28.6991 7.07723C28.4862 7.28835 28.4862 7.63057 28.6991 7.84169C28.8055 7.94716 28.9451 8 29.0846 8C29.2241 8 29.3637 7.94716 29.4701 7.84169L32.9592 4.38222C33.1721 4.17111 33.1721 3.82888 32.9592 3.61777Z" fill="#20384E")

      .articles.owl-carousel  
        +interesting-card('/assets/img/photo_footer.svg','Советы','Почему магний важен в человеческом теле?')
        +interesting-card('/assets/img/photo_footer 2.svg','Заболевания','Секреты здорового сна')
        +interesting-card('/assets/img/photo_footer 3.svg','Советы','Причины головной боли. Мы знаем, как облегчить тебе жизнь')
        +interesting-card('/assets/img/photo_footer 4.svg','Дети','Дети и боль в горле')
        +interesting-card('/assets/img/photo_footer 4.svg','Дети','Дети и боль в горле')
        

mixin interesting-card (img_i ,picture_text, text)
  .catalog-item     
    .item-container
      a(href='/')  
        .not-move   
          .img-container
            img.catalog-item-img(src=img_i)
            p.sometxt=picture_text 
          .hidden-undertext
            p='Подробнее'
            svg(width="34" height="24" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M32.9592 3.61777L29.47 0.158303C29.2572 -0.0527676 28.9119 -0.0527676 28.699 0.158303C28.4861 0.369417 28.4861 0.711644 28.699 0.922758L31.2575 3.45945L0.545175 3.45945C0.244108 3.45945 0 3.70149 0 3.99999C0 4.29846 0.244108 4.54054 0.545175 4.54054L31.2575 4.54054L28.6991 7.07723C28.4862 7.28835 28.4862 7.63057 28.6991 7.84169C28.8055 7.94716 28.9451 8 29.0846 8C29.2241 8 29.3637 7.94716 29.4701 7.84169L32.9592 4.38222C33.1721 4.17111 33.1721 3.82888 32.9592 3.61777Z" fill="#20384E")
        p.undertext=text   
                        
mixin breadcrumbs (b1,b2,b3)
  .breadcrumbs
    a.breadcrumbs-item(href='/')=b1
    p.breadcrumbs-arrow='>'
    a.breadcrumbs-item(href='/')=b2    
    if b3
      p.breadcrumbs-arrow='>'
      a.breadcrumbs-item(href='/')=b3

mixin upstairs ()
  a.upstairs(href='#top')
    svg(width="18" height="50" viewBox="0 0 18 50" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M7.9261 0.348899L0.346821 7.99321C-0.115609 8.45961 -0.115609 9.216 0.346821 9.6824C0.809347 10.1489 1.55913 10.1489 2.02165 9.6824L7.57925 4.07712L7.57925 47.8642C7.57925 48.5238 8.10952 49.0586 8.76351 49.0586C9.41742 49.0586 9.94778 48.5238 9.94778 47.8642L9.94777 4.07712L15.5054 9.68222C15.9679 10.1487 16.7177 10.1487 17.1802 9.68222C17.4113 9.44907 17.5271 9.1433 17.5271 8.83762C17.5271 8.53195 17.4113 8.22626 17.1802 7.99302L9.60093 0.348899C9.1384 -0.117592 8.38862 -0.117592 7.9261 0.348899Z" fill="#C5DEEC")    
      
mixin anim-bg()
  .razm
    .container
      .background-mixin
          img.anim-bg-img.el1(src='/assets/img/Ellipse 2.svg')
          img.anim-bg-img.el2(src='/assets/img/Ellipse 3.svg')
          img.anim-bg-img.el3(src='/assets/img/Ellipse 4.svg')
          img.anim-bg-img.el4(src='/assets/img/Ellipse 5.svg')
          img.anim-bg-img.el5(src='/assets/img/Ellipse 5-1.svg')
          img.anim-bg-img.el6(src='/assets/img/Ellipse 6.svg')
          img.anim-bg-img.el7(src='/assets/img/Ellipse 6-1.svg')
          img.anim-bg-img.el8(src='/assets/img/Ellipse 7.svg')
          img.anim-bg-img.el9(src='/assets/img/Ellipse 8.svg')
          img.anim-bg-img.el10(src='/assets/img/Ellipse 9.svg')
          img.anim-bg-img.el11(src='/assets/img/Ellipse 19.svg')
          img.anim-bg-img.el12(src='/assets/img/Ellipse 20.svg')
          img.anim-bg-img.el13(src='/assets/img/Ellipse 21.svg')
          img.anim-bg-img.el14(src='/assets/img/Ellipse 22.svg')
  .razm-768 
    .container 
      .background-mixin  
        img(src='/assets/img/768-bg.jpg')
  .razm-320    
    .container
      .background-mixin
        img(src='/assets/img/320-bg.jpg')
            
mixin back-to()
  .back-to    
    svg(width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M32.9592 3.61777L29.47 0.158303C29.2572 -0.0527676 28.9119 -0.0527676 28.699 0.158303C28.4861 0.369417 28.4861 0.711644 28.699 0.922758L31.2575 3.45945L0.545175 3.45945C0.244108 3.45945 0 3.70149 0 3.99999C0 4.29846 0.244108 4.54054 0.545175 4.54054L31.2575 4.54054L28.6991 7.07723C28.4862 7.28835 28.4862 7.63057 28.6991 7.84169C28.8055 7.94716 28.9451 8 29.0846 8C29.2241 8 29.3637 7.94716 29.4701 7.84169L32.9592 4.38222C33.1721 4.17111 33.1721 3.82888 32.9592 3.61777Z" fill="#20384E")
    p='Вернуться назад'


mixin social-webs() 
  .soc-webs  
    p='Поделится в социальных сетях'
    .soc-links
    a(href='/')
      svg(width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="14.5" cy="14.5" r="14.5" fill="#F2FAFF")
        path(d="M21.8464 13.5989C22.1166 13.2445 22.3311 12.9601 22.4895 12.7455C23.6304 11.2064 24.1249 10.2232 23.9733 9.79455L23.9139 9.69415C23.8744 9.63385 23.7719 9.57848 23.6072 9.52835C23.4423 9.47827 23.2313 9.47026 22.9742 9.50333L20.1252 9.52372C20.0592 9.51705 19.9933 9.51861 19.9273 9.52835C19.8613 9.53853 19.8185 9.54874 19.7986 9.55849C19.7787 9.5687 19.7624 9.57688 19.7493 9.58355L19.7098 9.61368C19.6768 9.63364 19.6405 9.66887 19.601 9.71921C19.5614 9.76952 19.5282 9.82783 19.502 9.89497C19.1921 10.7046 18.8393 11.4576 18.4436 12.1535C18.1995 12.5685 17.9752 12.9284 17.771 13.2325C17.5665 13.5373 17.395 13.7614 17.2565 13.905C17.1181 14.0488 16.9927 14.1645 16.8807 14.2512C16.7684 14.3385 16.6827 14.3751 16.6236 14.3618C16.5641 14.3485 16.508 14.3352 16.4553 14.3215C16.363 14.2614 16.2887 14.1796 16.2328 14.0757C16.1767 13.9722 16.1389 13.8416 16.119 13.6842C16.0993 13.5271 16.0875 13.3915 16.0844 13.2775C16.0809 13.1638 16.0827 13.0034 16.0895 12.7957C16.096 12.5882 16.0993 12.4479 16.0993 12.3741C16.0993 12.1201 16.1043 11.8439 16.1142 11.546C16.124 11.2484 16.1323 11.0123 16.1389 10.8383C16.1454 10.6645 16.1487 10.4803 16.1487 10.2862C16.1487 10.0925 16.1371 9.93995 16.1139 9.82939C16.0908 9.71921 16.056 9.61216 16.0102 9.50822C15.9639 9.40471 15.8963 9.32424 15.8072 9.26752C15.7181 9.21055 15.6078 9.16557 15.4759 9.13186C15.1262 9.05138 14.681 9.00839 14.1404 9.00133C12.9137 8.98847 12.1256 9.06869 11.7761 9.24246C11.6376 9.31627 11.5122 9.41645 11.4002 9.54367C11.2813 9.69107 11.265 9.77151 11.3508 9.78437C11.7466 9.84467 12.0267 9.98874 12.1916 10.2161L12.251 10.3365C12.2971 10.4238 12.3432 10.5777 12.3895 10.7984C12.4356 11.0192 12.4653 11.2634 12.4786 11.5312C12.5116 12.0196 12.5116 12.4377 12.4786 12.7859C12.4456 13.1341 12.4144 13.405 12.3847 13.5987C12.3549 13.7928 12.3104 13.95 12.2512 14.0703C12.1918 14.1911 12.1523 14.2647 12.1324 14.2915C12.1125 14.3181 12.0961 14.3349 12.083 14.3416C11.9972 14.3749 11.9083 14.3917 11.8159 14.3917C11.7235 14.3917 11.6114 14.3447 11.4795 14.2509C11.3476 14.1577 11.2106 14.0286 11.069 13.8646C10.9271 13.7009 10.7674 13.4715 10.5891 13.1769C10.4111 12.8828 10.2263 12.5345 10.0352 12.1332L9.87702 11.8419C9.77808 11.6548 9.64284 11.382 9.47138 11.024C9.29992 10.6661 9.14809 10.3199 9.01638 9.98497C8.96352 9.84467 8.88443 9.73761 8.77896 9.6638L8.7296 9.63367C8.69662 9.60705 8.64376 9.57848 8.57124 9.54853C8.4985 9.51839 8.42294 9.49666 8.34363 9.48316L5.6331 9.50311C5.35613 9.50311 5.16829 9.56696 5.06935 9.69415L5.0298 9.75424C5.00982 9.78792 5 9.84155 5 9.91493C5 9.98874 5.01988 10.079 5.05943 10.1858C5.45521 11.1296 5.88555 12.0396 6.35036 12.916C6.81542 13.7928 7.21931 14.499 7.56223 15.0343C7.90516 15.57 8.25465 16.0749 8.61093 16.5501C8.9672 17.0253 9.20287 17.3296 9.31819 17.4632C9.43351 17.5973 9.52417 17.6978 9.59016 17.7645L9.83744 18.0056C9.99558 18.1661 10.2282 18.3584 10.5349 18.5828C10.8416 18.807 11.181 19.0278 11.5539 19.2451C11.9264 19.4627 12.3602 19.6398 12.8547 19.7772C13.3492 19.9146 13.8306 19.9698 14.2989 19.9428H15.4366C15.6675 19.9228 15.8421 19.8495 15.9608 19.722L16.0003 19.6719C16.0265 19.632 16.0514 19.57 16.0746 19.4864C16.0975 19.4028 16.1094 19.3106 16.1094 19.2104C16.1025 18.9228 16.1242 18.663 16.1736 18.4325C16.2229 18.2015 16.279 18.0277 16.3418 17.9103C16.4045 17.7935 16.4752 17.6946 16.5545 17.6142C16.6336 17.5337 16.6895 17.4856 16.7227 17.4687C16.7557 17.4523 16.7821 17.4406 16.8018 17.4335C16.9599 17.38 17.1462 17.4319 17.3607 17.5891C17.575 17.7467 17.7762 17.9404 17.9643 18.1713C18.1521 18.4023 18.378 18.6614 18.6419 18.9493C18.9055 19.237 19.1364 19.4511 19.3343 19.5916L19.5322 19.7124C19.6641 19.7924 19.8354 19.866 20.0466 19.9332C20.2576 19.9999 20.4424 20.0168 20.6005 19.9833L23.133 19.9429C23.3836 19.9429 23.5782 19.9013 23.7167 19.8175C23.8552 19.7344 23.9376 19.6417 23.964 19.5416C23.9902 19.4412 23.9919 19.3279 23.969 19.2004C23.9459 19.0734 23.9227 18.9848 23.8998 18.9347C23.8767 18.8846 23.8552 18.8425 23.8353 18.8092C23.5055 18.207 22.8757 17.4674 21.9459 16.5908L21.926 16.5708L21.9162 16.5607L21.9064 16.5509H21.8964C21.4742 16.1426 21.2073 15.8682 21.0952 15.7275C20.8908 15.4602 20.8445 15.1891 20.9567 14.9147C21.0354 14.7067 21.332 14.2683 21.8464 13.5989Z" fill="#45B3F1")
    a(href='/')
      svg(width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="14.5" cy="14.5" r="14.5" fill="#F2FAFF")
        path(d="M17.3569 8.82271H19V6.11971C18.7165 6.08287 17.7416 6 16.6062 6C14.2371 6 12.6143 7.40746 12.6143 9.99429V12.375H10V15.3967H12.6143V23H15.8195V15.3975H18.3281L18.7263 12.3757H15.8188V10.2939C15.8195 9.42054 16.0685 8.82271 17.3569 8.82271Z" fill="#45B3F1")
    a(href='/')
      svg(width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="14.5" cy="14.5" r="14.5" fill="#F2FAFF")
        clip-path="url(#clip0)"
        path(d="M22 10.6591C21.4794 10.8875 20.9246 11.0389 20.3462 11.1124C20.9412 10.7571 21.3954 10.1989 21.6089 9.526C21.0541 9.85675 20.4416 10.0904 19.7889 10.2208C19.2621 9.65988 18.5114 9.3125 17.6924 9.3125C16.1034 9.3125 14.8241 10.6023 14.8241 12.1834C14.8241 12.4109 14.8434 12.6296 14.8906 12.8379C12.5045 12.7215 10.3931 11.5779 8.97475 9.83575C8.72712 10.2654 8.58188 10.7571 8.58188 11.2865C8.58188 12.2805 9.09375 13.1616 9.85675 13.6718C9.39562 13.663 8.94325 13.5291 8.56 13.3183C8.56 13.327 8.56 13.3384 8.56 13.3498C8.56 14.7445 9.55487 15.903 10.8595 16.1699C10.6259 16.2337 10.3712 16.2644 10.107 16.2644C9.92325 16.2644 9.73775 16.2539 9.56362 16.2154C9.9355 17.352 10.9908 18.1876 12.2455 18.2148C11.269 18.9786 10.0291 19.4389 8.68688 19.4389C8.4515 19.4389 8.22575 19.4284 8 19.3995C9.27137 20.2194 10.7781 20.6875 12.403 20.6875C17.6845 20.6875 20.572 16.3125 20.572 12.5202C20.572 12.3934 20.5676 12.2709 20.5615 12.1493C21.1311 11.745 21.6097 11.2401 22 10.6591Z" fill="#45B3F1")
          clipPath(id="clip0")
          rect(width="14" height="14" fill="white" transform="translate(8 8)")
    a(href='/')
      svg(width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="14.5" cy="14.5" r="14.5" fill="#F2FAFF")
        g(clip-path="url(#clip0)")
        path(d="M12.4422 19.8785C11.8016 20.5195 10.7624 20.5195 10.1218 19.8785C9.49081 19.248 9.48075 18.231 10.092 17.5882L13.55 14.1302C12.4806 13.8443 11.2947 14.1075 10.4397 14.9206L8.90218 16.4581C7.67961 17.7437 7.69974 19.7775 8.96168 21.0386C10.2429 22.3207 12.3213 22.3207 13.6025 21.0386L15.0202 19.6209C15.8795 18.7622 16.1627 17.5454 15.8702 16.4505L12.4422 19.8785Z" fill="#45B3F1")
        path(d="M21.0395 8.96168C19.7785 7.69974 17.7447 7.67961 16.4591 8.90218L14.9215 10.4397C14.1085 11.2947 13.8452 12.4806 14.1312 13.55L17.5892 10.092C18.232 9.48075 19.2489 9.49081 19.8794 10.1218C20.5205 10.7624 20.5205 11.8016 19.8794 12.4422L16.4514 15.8702C17.5463 16.1627 18.7632 15.8795 19.6219 15.0202L21.0395 13.6025C22.3216 12.3213 22.3216 10.2429 21.0395 8.96168Z" fill="#45B3F1")
        path(d="M12.5061 17.4945C12.8264 17.815 13.346 17.815 13.6662 17.4945L17.495 13.6658C17.8155 13.3455 17.8155 12.8258 17.495 12.5056C17.1797 12.1901 16.6713 12.185 16.3499 12.4907L12.4912 16.3494C12.1855 16.6708 12.1906 17.1792 12.5061 17.4945Z" fill="#45B3F1")
          clipPath(id="clip0")
          rect(width="14" height="14" fill="white" transform="translate(8 8)")
          
mixin products(img_i , text)
  .products
    .prod-container
      .img-prod
        img(src=img_i)
      .text-prod
        p=text
      
    
  

                 
         
