extends ../layout/main
block variables
  - var title = 'Septolete Статья';
  - var description = 'Septolete Статья';
  - var bodyclass = 'main';
block css
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel='stylesheet')
block script
  each js in htmlWebpackPlugin.files.js
    script(type='text/javascript', src=js)


block content
  
        
  .container      
    +breadcrumbs('Главная страница','Статьи','Больное горло')
    .page-content-article-name   
        .text-article-name
          h1='Боль в горле'
          .page-text-article-name
            div.anons-elem
              img.illnes(src='/assets/img/content-img.svg')
              p='Всем нам знакомы неприятные ощущения – зуд или першение в горле, затруднение глотания, а потом резкая боль, которая может продолжаться несколько дней.'
              p='Чаще всего, такая боль вызвана инфекцией верхних дыхательных путей, которая может сопровождаться вирусной или бактериальной инфекцией. Каждый человек реагирует на болезненные ощущения по-своему: кому-то приходится изменить свои планы, у кого-то возникают проблемы с концентрацией внимания, другие быстрее устают, хуже спят, не могут настроиться на нужный ритм и, как правило, просто плохо себя чувствуют.'
              p='Интересный факт: у взрослых инфекции верхних дыхательных путей возникают от 2 до 5 раз в год; у школьников частота еще выше, примерно 7-10 раз в год. Инфекции верхних дыхательных путей – наиболее распространенный тип острой инфекции.'
            div.anons-elem
              h2#priznak='Болезнь горла является одним из первых признаков инфекции верхних дыхательных путей.'
              p='Слизистая оболочка рта и горла – первая линия защиты от вирусов и бактерий. Когда защитные силы слизистой оболочки снижены, например, если иммунная система ослаблена, есть хронические заболевания или негативное воздействие окружающей среды, это может привести к размножению микроорганизмов, вызывающих инфекции и воспаление верхних дыхательных путей. Стоит помнить, что вероятность заражения увеличивается при вдыхании холодного воздуха через рот, употреблении холодных напитков, при входе и выходе из кондиционированных помещений, когда на улице жарко и т.д.'
            div.anons-elem
              h3='Как распознать инфекцию горла?'
              ul
                li='раздражение, зуд или першение в горле, которое может перерасти в боль;'
                li='покраснение слизистой оболочки, сухость в горле и ощущение жжения;'
                li='отёк, затрудняющий глотание.'
            div.anons-elem.block-total              
              .ill
                h2='Воспаление и боль в горле'
                .causes
                  h3='Причины'
                  .causes-ins
                    p='Вирусы'
                    img.point(src='/assets/img/causes-point.svg')
                    p='Растения'
                    img.point(src='/assets/img/causes-point.svg')
                    p='Грибы'                
                .causes-effects
                  h3='Последствия'
                  .causes-effects-ins
                    p='Боль'
                    img.point(src='/assets/img/causes-point.svg')
                    p='Покраснение'
                    img.point(src='/assets/img/causes-point.svg')
                    p='Припухлость'
                    img.point.mobile-disp(src='/assets/img/causes-point.svg')                      
                    p='Травма'
                    img.point(src='/assets/img/causes-point.svg')
                    p='Функциональные нарушения'
              img.line(src='/assets/img/Line.svg')
              img.mobile-disp(src='/assets/img/Line-gorisontal.svg')
              .ad
                h2='Септолете® Тотал'
                .ad-ins
                  img(src='/assets/img/checked.svg')
                  p='Тотальное действие против боли в горле!'
            div.anons-elem
              .interesting-fact-block
                .interesting-fact
                  img(src='/assets/img/if.svg')
                  h3='Интересный факт:'
                p='Простуда – одна из самых частых причин отсутствия на работе или в школе. Как правило, сначала простужаются дети, а затем, через 2-5 дней, заболевают остальные члены семьи. Боль в горле – один из первых признаков простуды.'
            div.anons-elem
              p='Наиболее распространенными вирусами, вызывающими боль в горле, являются риновирусы(от 30 до 50% всех простудных заболеваний у взрослых), коронавирусы, энтеровирусы, вирусы гриппа, аденовирусы и другие. В среднем, за всю жизнь, человек болеет более чем 200 простудными заболеваниями, каждое из которых длится от 2 до 6 дней. Вирусы поражают слизистую оболочку, вызывая отек, покраснение и воспаление. Чаще всего, первые симптомы заболевания – неприятные ощущения першения или жжения в горле и боль при глотании. В течение следующих 48 часов появляется большинство других симптомов (например, водянистые выделения из носа, чихание, раздражение глаз, плохое самочувствие, кашель). Такие симптомы вызваны воспалением и отеком слизистой оболочки верхних дыхательных путей. Основное осложнение, которое может возникнуть при простуде – присоединение бактериальной инфекции, которое может привести к пневмонии. Боль при глотании, першение и жжение в горле обычно являются первыми признаками простуды, но также могут возникать при гриппе или даже ангине. Стоит отметить, что боль в горле может быть вызвана более серьезными воспалительными и системными заболеваниями или курением. Реже встречает боль в горле как побочный эффект применения некоторых лекарственных препаратов. Охриплость голоса и грибковая инфекция рта и горла могут быть вызваны высокими дозами ингаляционных кортикостероидов, которые используются для лечения астмы. Боль в горле может быть вызвана чрезмерным напряжением голосовых связок, например после концерта, длительного выступления в роли оратора, пения или театрального представления. А в случае ангины? Стрептококковую инфекцию горла можно заподозрить по белым «островкам», которые появляются на миндалинах и стенках глотки. Это гнойные отложения, вызванные стрептококковой инфекцией, и, помимо других симптомов, являются наиболее очевидным признаком того, что мы имеем дело не просто с простудой. В случае ангины характерным признаком, помимо сильной боли в горле, будет высокая температура, обычно выше 38°С, часто тремор, головная боль, тошнота, боль в суставах и мышцах. В случае стрептококкового фарингита необходимо посетить врача, который назначит соответствующее лечение.'
            div.anons-elem.gerbion
              .gerb-block
                img(src='/assets/img/gerbion.svg')
              .gerb-text
                h4='Сироп от кашля "Гербион"'
                .gerb-btn 
                  p='Узнать больше'
            div.anons-elem
              h2#what-do='Что делать, если у вас болит горло?'
              p='Вирусы – наиболее частая причина инфекции верхних дыхательных путей. Лечение симптоматическое и должно быть направлено на максимально быстрое и эффективное снятие симптомов воспаления. Когда у вас болит горло, на помощь придут антисептики в виде таблеток для рассасывания или спреев, которые уничтожат микробы и предотвратят распространение инфекции. Поскольку воспалительный процесс в горле часто сопровождается болью, отличным выбором будет препарат, сочетающий в себе местный антисептик с местным анальгетиком, обладающий обезболивающим и противовоспалительным действием.'
              p='Важно не терять время при появлении боли в горле и немедленно начать лечение. Это ограничит распространение инфекции позволит быстро восстановиться. Выбор правильного лекарственного препарата особенно важен, поскольку он устранит причину неприятных ощущений и быстро избавит от боли и воспаления.'
            div.anons-elem
              h3='Тотальное действие в таблетках для рассасывания или спрее Септолете® Тотал'
              p='Септолете® Total содержит два активных компонента: антисептик цитилпиридиновый хлорид и бензидамин. Эта уникальная комбинация придает продукту ТОТАЛЬНОЕ ДЕЙСТВИЕ:'
              ul
                li='Устраняет причину инфекции (вирусную, бактериальную или грибковую);'
                li='быстро снимает боль (менее чем за 15 минут);'
                li='снимает воспаление (покраснение и отечность).'
              p.red-txt='Когда вирусные инфекции окружают, Септолете® Тотал — первый и правильный выбор!'
            div.anons-elem
              h2#virus='Как избежать вирусов, вызывающих боль в горле?'
              p='В определенной степени мы можем избежать боли в горле. Вирусные и бактериальные инфекции заразны, поэтому соблюдение элементарных правил гигиены – лучшая линия защиты. В сезон простуды и гриппа необходимо регулярно мыть и дезинфицировать руки, не касаться лица, особенно глаз и рта, потому что так вирусы и бактерии могут попасть на слизистую оболочку.'
              p='Если вы заболели, следует оставаться дома, чтобы предотвратить распространение инфекции. Если вы видите, что человек простужен, лучше избежать рукопожатий. Убедитесь, что у вас дома достаточная влажность и регулярно проветривайте комнаты.'
              p='Чтобы снизить вероятность заболевания, позаботьтесь о своей иммунной системе с помощью правильного питания и регулярных физических упражнений. В холодные осенние дни будьте внимательны к своему рациону: ешьте пищу, богатую витаминами и антиоксидантами, пейте много несладкого чая и воды, чтобы избежать обезвоживания. Помимо правильного питания, необходимо регулярно заниматься спортом, много отдыхать и спать, сохранять спокойствие и поддерживать сбалансированный ритм сна и бодрствования, а также избегать употребления алкоголя и курения.'
            div.anons-elem  
              .advices
                .advice
                  img(src='/assets/img/advice(9).svg')
                  p='Часто мойте руки с мылом'
                .advice
                  img(src='/assets/img/advice(2).svg')
                  p='Регулярно проветривайте помещения'
                .advice
                  img(src='/assets/img/advice(3).svg')
                  p='Укрепление иммунной системы, диеты и диагностики'    
                .advice
                  img(src='/assets/img/advice(4).svg')
                  p='Избегайте комнат, которые полны людей'
                .advice
                  img(src='/assets/img/advice(5).svg')
                  p='Держитесь как минимум в метре от человека, который чихает или кашляет.'
                .advice
                  img(src='/assets/img/advice(6).svg')
                  p='Используйте бумагу или носовые платки'
                .advice
                  img(src='/assets/img/advice(7).svg')
                  p='Не прикасайтесь руками к лицу и глазам'
                .advice
                  img(src='/assets/img/advice(8).svg')
                  p='Дышите через нос (слизистая носа является своеобразным фильтром для человека).'
            div.anons-elem
              .do-u-know-block
                .do-u-know
                  img(src='/assets/img/if.svg')
                  h3='Вы знали?'
                ul
                  li='Бактериальная инфекция характеризуется гнойной мокротой или выделениями из носа и высокой температурой. Ее лечат антибиотиками. Бесконтрольное и необоснованное применение антибиотиков повышает устойчивость некоторых бактерий к антибиотикам. Когда использование антибиотиков оправдано, их следует принимать столько, сколько предписано врачом.'
                  li='Простуда обычно начинается медленно, с болью в горле, головной болью и чиханием. Позже появляются другие признаки, такие как заложенность и выделения из носа, иногда кашель. Во время простуды человек может испытывать легкую или умеренную боль в суставах и мышцах; высокая температура, более характерная для гриппа, встречаются редко.'
                  li='Простуда распространяется воздушно-капельным путем - когда больной чихает или кашляет, в воздух высвобождаются капли, содержащие инфекционные агенты. Кроме того, непосредственный контакт с инфицированным человеком может привести к заболеванию.'
            div.anons-elem.navigation  
              +back-to()
              +social-webs()
    .page-nav.art.anons-elem 
      .new_article_transitions_block#scrollbar
        ul
            li
              a(href='#priznak')='Болезнь горла является одним из первых признаков инфекции верхних дыхательных путей.'
            li
              a(href='#what-do')='Что делать, если у вас болит горло?'
            li
              a(href='#virus')='Как избежать вирусов, вызывающих боль в горле?'

          
  +interesting-block()
  
  
    
  
        
  
