extends ../layout/main
block variables
    - var title = 'Septolete Главная';
    - var description = 'Septolete Главная';
    - var bodyclass = 'main';


block css
    each css in htmlWebpackPlugin.files.css
        link(href=css, rel='stylesheet')
block script
    each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)


block content
  
  //.main-main
      
    .baba-block
      .head-head
        .bg-cont-main   
          +anim-bg() 
        .head-main 
          .container
            .head-txt-main 
              div
                ul
                  li='Быстро снимает боль'
                  li='Устраняет причины инфекции'
                  li='Снижает воспаление'
                p='Леденцы Септолете Тотал. Вкус: Лимон и бузина.  Обезболивающее действие, Противовоспалительное действие, Антисептическое действие'
                .checked-img  
                  img(src='/assets/img/check.svg')
                  img(src='/assets/img/sugar.svg')
                  img(src='/assets/img/glu.svg') 
              div
                img.total-action.total-main(src='/assets/img/total-action.svg')
            .head-cont-main    
              .head-scroll.owl-carousel 
                +prod-photo('/assets/img/pod1.svg','/assets/img/pills-pack.svg')
                +prod-photo('/assets/img/pod1.svg','/assets/img/pills-pack.svg')
                +prod-photo('/assets/img/pod1.svg','/assets/img/pills-pack.svg')
                +prod-photo('/assets/img/pod1.svg','/assets/img/pills-pack.svg')
                +prod-photo('/assets/img/pod1.svg','/assets/img/pills-pack.svg')
      .story
        .container
          .first
            img(src='/assets/img/woman-1.svg')
            ul 
              li.fir='При боли'
              li.sec='При воспалении'
              li.th='От инфекций'
          .second     
            img.wmn(src='/assets/img/woman-2.svg')
            div
              img.znak(src='/assets/img/total-znak.svg')
              h2.h='Отрегулируй боль в горле'
              ul
                li.lif='Быстро снимает боль'
                  p='Многие считают, что Лорем Ипсум - это псевдолатинский набор слов, взятый с потолка, но это не совсем так. Его корни восходят к одному фрагменту классической латыни 45 г. н.э., то есть более чем к двум тысячам лет назад. Ричард МакКлинток, профессор латыни в колледже Хэмпден-Сидней, штат Вирджиния, взял одно из самых странных слов в Лорем-Ипсуме, "consectetur", и начал его поиск в классической латинской литературе. В результате он нашел бесспорный первоисточник Лорема.'
                li.lis='Устраняет причины инфекции'
                  p='Многие считают, что Лорем Ипсум - это псевдолатинский набор слов, взятый с потолка, но это не совсем так.'
                li.lit='Снижает воспаление '
                  p='Многие считают, что Лорем Ипсум - это псевдолатинский набор слов, взятый с потолка, но это не совсем так. Его корни восходят к одному фрагменту классической латыни 45 г. н.э., то есть более чем к двум тысячам лет назад. Ричард МакКлинток, профессор латыни из колледжа Хэмпден-Сидней.'
            .third
              img.wmn2(src='/assets/img/woman-3.svg')
              div
                
                h2.h2.textth='Тотальное действие*'
                h2.textth='против боли в горле!'
                p.textth='*Совокупный эффект: противовоспалительное, обезболивающее, местное обезболивающее, противомикробное, противогрибковое и вирулицидное действие.'

  .choose-slider  
    .container  
      .choose-sept.owl-carousel        
        .green
          +product-choose('/assets/img/pod1.svg','Септолете® Тотал. Леденцы, Лимон/Бузина')
        .blue 
          +product-choose('/assets/img/pod1.svg','Септолете® Тотал. Леденцы, Лимон/Бузина')
        .blue 
          +product-choose('/assets/img/pod1.svg','Септолете® Тотал. Леденцы, Лимон/Бузина')
        .green
          +product-choose('/assets/img/pod1.svg','Септолете® Тотал. Леденцы, Лимон/Бузина')
        .yellow
          +product-choose('/assets/img/pod1.svg','Септолете® Тотал. Леденцы, Лимон/Бузина')
  .super-test
    .container
      .visible-test  
        div  
          img(src='/assets/img/man-quest.svg')
        div
          .super-text
            h2='Супертест, сможешь ответить на всё?'
            p='Здесь Вы найдёте текст, мотивирующий рыбу для проверки Ваших знаний Septolete® total, в виде леденцов и спрея. Леденцы могут использоваться детьми старше 6 лет, они должны медленно впитываться во рту до полного растворения.'
            .button-supertest.btn-red
              p='Выбрать тест'
      .test
        .choose-test
          .test-container
            h2='Супертестыы'
            .test-list.owl-carousel
              +test('Ангина vs Простуда')
              +test('Covid-19')
              +test('Что-то другое')
            p='Насколько хорошо вы знаете симптомы Ангины? Сможете ли отличить их от Простуды? Проверьте себя!'
            p.fin='С этим тестом справилось '
              span.red-txt='75%'
              span=' пользователей!'
            .answers
              p='Прогресс ответов:'
              .prg
                .an1.an
                .an2.an
                .an3.an
                .an4.an
                .an5.an
                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.03365 0.666717C6.77796 0.660624 4.60874 1.53425 2.98691 3.10199V0.666678C2.98691 0.298476 2.68843 0 2.32023 0C1.95203 0 1.65359 0.298476 1.65359 0.666678V4.66667C1.65351 4.95374 1.83722 5.20862 2.10961 5.29932L6.1096 6.63264C6.45936 6.74901 6.83725 6.55975 6.95358 6.20999C7.06995 5.86022 6.88069 5.48233 6.53092 5.366L3.57761 4.38335C6.30577 1.41246 10.9258 1.21566 13.8967 3.94382C16.8676 6.67198 17.0644 11.292 14.3362 14.2629C11.6081 17.2338 6.98803 17.4306 4.01714 14.7024C2.19574 13.0299 1.34441 10.5492 1.75496 8.11065C1.81953 7.74815 1.57804 7.40198 1.21558 7.33737C0.853124 7.27276 0.506914 7.51428 0.442304 7.87674C0.441601 7.88069 0.440937 7.88467 0.440312 7.88862C0.360508 8.36604 0.320352 8.84924 0.320312 9.33326C0.325742 14.1175 4.20273 17.9945 8.98689 18C13.7733 18.0129 17.664 14.1432 17.6769 9.35674C17.6898 4.5703 13.8201 0.679647 9.03365 0.666717Z" fill="#DF1E18")

            
        .quest.q1
          img.round(src='/assets/img/Ellipse 28.svg')
          img.pict(src='/assets/img/fever 2.svg')
          p.num='Вопрос №1'
          p.qs='При каком из заболеваний, поднимается высокая температура (до 40 градусов) ?'
          .btns  
            .ans-btn
              p='Ангина'
            .ans-btn.right-ans
              p='Простуда'
            .ans-btn
              p='Оба варианта'
          .down  
            p.prc='С вопросом №1 справилось 95% пользователей!'
            p.cout='1/5'
            .next-btn
              p='Далее'
        .quest.q2
          img.round(src='/assets/img/Ellipse 28.svg')
          img.pict(src='/assets/img/fever 2.svg')
          p.num='Вопрос №2'
          p.qs='При каком из заболеваний, поднимается высокая температура (до 40 градусов) ?'
          .btns  
            .ans-btn
              p='Ангина'
            .ans-btn.right-ans
              p='Простуда'
            .ans-btn
              p='Оба варианта'
          .down  
            p.prc='С вопросом №1 справилось 95% пользователей!'
            p.cout='1/5'
            .next-btn
              p='Далее'
        .quest.q3
          img.round(src='/assets/img/Ellipse 28.svg')
          img.pict(src='/assets/img/fever 2.svg')
          p.num='Вопрос №3'
          p.qs='При каком из заболеваний, поднимается высокая температура (до 40 градусов) ?'
          .btns  
            .ans-btn
              p='Ангина'
            .ans-btn.right-ans
              p='Простуда'
            .ans-btn
              p='Оба варианта'
          .down  
            p.prc='С вопросом №1 справилось 95% пользователей!'
            p.cout='1/5'
            .next-btn
              p='Далее'
        .quest.q4
          img.round(src='/assets/img/Ellipse 28.svg')
          img.pict(src='/assets/img/fever 2.svg')
          p.num='Вопрос №4'
          p.qs='При каком из заболеваний, поднимается высокая температура (до 40 градусов) ?'
          .btns  
            .ans-btn
              p='Ангина'
            .ans-btn.right-ans
              p='Простуда'
            .ans-btn
              p='Оба варианта'
          .down  
            p.prc='С вопросом №1 справилось 95% пользователей!'
            p.cout='1/5'
            .next-btn
              p='Далее'
        .quest.q5
          img.round(src='/assets/img/Ellipse 28.svg')
          img.pict(src='/assets/img/fever 2.svg')
          p.num='Вопрос №5'
          p.qs='При каком из заболеваний, поднимается высокая температура (до 40 градусов) ?'
          .btns  
            .ans-btn
              p='Ангина'
            .ans-btn.right-ans
              p='Простуда'
            .ans-btn
              p='Оба варианта'
          .down  
            p.prc='С вопросом №1 справилось 95% пользователей!'
            p.cout='1/5'
            .next-btn
              p='Далее'   
        .final-test.q6
          h2='Вы полностью прошли тест!'         
          p.res='Отлично! Вы смогли ответить на '
            span.red-txt='5'
            span='из '
            span.red-txt='5'
            span='вопросов.'
          p='Тут текст о том что для того чтобы узнать что то новое нужно почитать наши полезные статьи, что то подобное.'
          .btns
            .btn-repeat
              p='Начать заново'
            .button-art.btn-blue
              a(href='/')='Перейти к статьям'
  .videos
    .container
      h2='Видеоролики'
      .video.owl-carousel
        +videos('/assets/img/video.mp4','/assets/img/photo_footer.svg','Почему магний важен в человеческом теле? Почему магний важен в человеческом теле?')
        +videos('/assets/img/video.mp4','/assets/img/photo_footer.svg','Почему магний важен в человеческом теле? Почему магний важен в человеческом теле?')
        +videos('/assets/img/video.mp4','/assets/img/photo_footer.svg','Почему магний важен в человеческом теле? Почему магний важен в человеческом теле?')
        //iframe.youtube(width="457" height="332" src="https://www.youtube.com/embed/Vj1wjUsRp_o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  .faq
    .container
      h2='Часто задаваемые вопросы'
      .faq-ins
        .panels
          .panel-btn
            .panel
              svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.2788 6.62929C12.9564 7.01202 12.9564 7.98798 12.2788 8.37071L2.27948 14.0186C1.61285 14.3951 0.787675 13.9135 0.787675 13.1479L0.787676 1.8521C0.787676 1.08649 1.61285 0.604869 2.27948 0.981397L12.2788 6.62929Z" fill="#45B3F1")
              p='При каких  '
                span.blue-txt='болезнях '
                span='следует использовать Септолете® Тотал?'
            .faq-text
              p='Септолете® тотал выпускается в виде леденцов и спрея. Леденцы могут применять дети старше 6 лет, их нужно медленно рассасывать во рту до полного растворения.'
              p='Спрей можно применять лицам старше 6 лет.'
              p='Обе формы обладают комплексным действием против боли в горле: снимают боль, воспаление и устраняют причину инфекции.'
          .panel-btn
            .panel
              svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.2788 6.62929C12.9564 7.01202 12.9564 7.98798 12.2788 8.37071L2.27948 14.0186C1.61285 14.3951 0.787675 13.9135 0.787675 13.1479L0.787676 1.8521C0.787676 1.08649 1.61285 0.604869 2.27948 0.981397L12.2788 6.62929Z" fill="#45B3F1")
              p='При каких  '
                span.blue-txt='болезнях '
                span='следует использовать Септолете® Тотал?'
            .faq-text
              p='Септолете® тотал выпускается в виде леденцов и спрея. Леденцы могут применять дети старше 6 лет, их нужно медленно рассасывать во рту до полного растворения.'
              p='Спрей можно применять лицам старше 6 лет.'
              p='Обе формы обладают комплексным действием против боли в горле: снимают боль, воспаление и устраняют причину инфекции.'
          .panel-btn
            .panel
              svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.2788 6.62929C12.9564 7.01202 12.9564 7.98798 12.2788 8.37071L2.27948 14.0186C1.61285 14.3951 0.787675 13.9135 0.787675 13.1479L0.787676 1.8521C0.787676 1.08649 1.61285 0.604869 2.27948 0.981397L12.2788 6.62929Z" fill="#45B3F1")
              p='При каких  '
                span.blue-txt='болезнях '
                span='следует использовать Септолете® Тотал?'
            .faq-text
              p='Септолете® тотал выпускается в виде леденцов и спрея. Леденцы могут применять дети старше 6 лет, их нужно медленно рассасывать во рту до полного растворения.'
              p='Спрей можно применять лицам старше 6 лет.'
              p='Обе формы обладают комплексным действием против боли в горле: снимают боль, воспаление и устраняют причину инфекции.'    
          .panel-btn
            .panel
              svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.2788 6.62929C12.9564 7.01202 12.9564 7.98798 12.2788 8.37071L2.27948 14.0186C1.61285 14.3951 0.787675 13.9135 0.787675 13.1479L0.787676 1.8521C0.787676 1.08649 1.61285 0.604869 2.27948 0.981397L12.2788 6.62929Z" fill="#45B3F1")
              p='При каких  '
                span.blue-txt='болезнях '
                span='следует использовать Септолете® Тотал?'
            .faq-text
              p='Септолете® тотал выпускается в виде леденцов и спрея. Леденцы могут применять дети старше 6 лет, их нужно медленно рассасывать во рту до полного растворения.'
              p='Спрей можно применять лицам старше 6 лет.'
              p='Обе формы обладают комплексным действием против боли в горле: снимают боль, воспаление и устраняют причину инфекции.'    
          .panel-btn
            .panel
              svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M12.2788 6.62929C12.9564 7.01202 12.9564 7.98798 12.2788 8.37071L2.27948 14.0186C1.61285 14.3951 0.787675 13.9135 0.787675 13.1479L0.787676 1.8521C0.787676 1.08649 1.61285 0.604869 2.27948 0.981397L12.2788 6.62929Z" fill="#45B3F1")
              p='При каких  '
                span.blue-txt='болезнях '
                span='следует использовать Септолете® Тотал?'
            .faq-text
              p='Септолете® тотал выпускается в виде леденцов и спрея. Леденцы могут применять дети старше 6 лет, их нужно медленно рассасывать во рту до полного растворения.'
              p='Спрей можно применять лицам старше 6 лет.'
              p='Обе формы обладают комплексным действием против боли в горле: снимают боль, воспаление и устраняют причину инфекции.'    
              
        .baba
          svg.qst-anim(width="130" height="179" viewBox="0 0 130 179" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M81.2093 137.911L81.2011 137.903C80.6075 137.306 80.0391 137.094 79.3823 137.094H45.845C45.1946 137.094 44.6247 137.305 44.0192 137.909C43.417 138.511 43.2073 139.077 43.2073 139.734V173.272C43.2073 173.928 43.4184 174.496 44.0191 175.097C44.6239 175.7 45.1922 175.911 45.845 175.911H79.3823C80.0388 175.911 80.6083 175.698 81.2029 175.101L81.2098 175.095C81.8113 174.495 82.022 173.929 82.022 173.272V139.734C82.022 139.077 81.8126 138.513 81.2093 137.911ZM41.9334 135.821C43.0513 134.705 44.3561 134.143 45.845 134.143H79.3823C80.8712 134.143 82.1794 134.702 83.2929 135.821C84.4152 136.94 84.9732 138.243 84.9732 139.734V173.272C84.9732 174.763 84.4137 176.068 83.2929 177.185C82.1794 178.302 80.8712 178.862 79.3823 178.862H45.845C44.3547 178.862 43.0513 178.3 41.9334 177.185C40.8165 176.068 40.2561 174.763 40.2561 173.272V139.734C40.2561 138.243 40.8146 136.94 41.9334 135.821Z" fill="#45B3F1")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M120.809 35.1553C117.17 28.4529 112.486 22.8251 106.746 18.2332C100.941 13.5884 94.4043 9.8694 87.1329 7.08702C79.895 4.31897 72.7528 2.95117 65.6886 2.95117C38.4323 2.95117 17.7671 14.7756 3.38066 38.6921L3.37316 38.7046L3.36553 38.717C2.99256 39.3234 2.87922 39.9061 2.99372 40.5969C3.09445 41.1956 3.37859 41.719 4.04461 42.2326C4.04604 42.2337 4.04748 42.2348 4.04891 42.2359L26.8282 59.5991C27.6399 60.0771 28.2382 60.2089 28.6611 60.2089C29.3103 60.2089 29.955 59.9786 30.6974 59.0694C37.3773 50.7201 42.5921 45.0521 46.2289 42.4527L46.2619 42.4291L46.2955 42.4065C50.8999 39.3027 56.5419 37.8518 63.0359 37.8518C69.2654 37.8518 74.8646 39.4966 79.7294 42.8405L79.731 42.8416C84.5611 46.1665 87.5042 50.414 87.5042 55.6139C87.5042 60.529 86.1871 64.8079 83.2961 68.1607C80.5613 71.333 76.1996 74.1552 70.5495 76.7413L70.5396 76.7459L70.5296 76.7503C63.7004 79.8152 57.367 84.5957 51.5521 91.1742C45.881 97.5859 43.2091 104.205 43.2091 111.089V117.377C43.2091 118.581 43.5336 119.829 44.2897 121.159L44.2909 121.161C44.6415 121.779 44.9271 122.056 45.082 122.168C45.1973 122.252 45.2427 122.252 45.2873 122.252H78.8251C79.1963 122.252 79.7031 122.135 80.402 121.23L80.4047 121.227C81.1848 120.22 81.4633 119.326 81.4633 118.498C81.4633 115.256 83.1722 111.512 85.7859 107.519C88.5883 103.24 92.1188 99.8684 96.3826 97.4769C100 95.4356 102.802 93.8054 104.807 92.5744L104.811 92.5718C106.671 91.4344 109.211 89.519 112.484 86.7566C115.64 84.0884 117.991 81.5211 119.61 79.0693L119.611 79.0676C121.239 76.6059 122.77 73.3018 124.162 69.0803L124.163 69.0784C125.502 65.0262 126.181 60.6368 126.181 55.8918M114.389 89.0102C111.081 91.803 108.405 93.8336 106.351 95.0895C104.299 96.3489 101.461 98.0002 97.8295 100.049C94.007 102.192 90.8174 105.223 88.2551 109.135C85.6954 113.046 84.4145 116.17 84.4145 118.498C84.4145 120.08 83.8531 121.594 82.7377 123.034C81.6189 124.483 80.316 125.203 78.8251 125.203H45.2883C43.89 125.203 42.7031 124.342 41.7243 122.618C40.7444 120.894 40.2579 119.148 40.2579 117.377V111.089C40.2579 103.357 43.2841 96.0674 49.3409 89.2197C55.3933 82.3725 62.057 77.318 69.3212 74.0579C74.8186 71.5417 78.7326 68.9344 81.0609 66.2337C83.3906 63.532 84.553 59.9904 84.553 55.6139C84.553 51.7013 82.3892 48.2542 78.0577 45.2725C73.7242 42.2938 68.7182 40.803 63.0359 40.803C56.9805 40.803 51.9516 42.1529 47.945 44.8536C44.6849 47.1838 39.6999 52.5402 32.9937 60.9233C31.7813 62.4137 30.3385 63.1601 28.6611 63.1601C27.5428 63.1601 26.3779 62.7876 25.167 62.0436L2.24959 44.5751C1.03872 43.6437 0.3168 42.4788 0.0828484 41.083C-0.149635 39.6851 0.10732 38.3813 0.851756 37.1709C15.7581 12.3901 37.3702 0 65.6886 0C73.1428 0 80.6414 1.44482 88.1871 4.33055C95.7313 7.21726 102.536 11.0853 108.589 15.9288C114.646 20.7742 119.582 26.7101 123.403 33.7473C127.22 40.7771 129.131 48.1593 129.132 55.8914C129.132 60.9214 128.412 65.6263 126.965 70.0044C125.521 74.3839 123.89 77.9479 122.072 80.6956C120.258 83.4429 117.696 86.2145 114.389 89.0102ZM120.809 35.1553C124.4 41.7688 126.18 48.6694 126.181 55.8918L120.809 35.1553Z" fill="#45B3F1")
                
          img.qst(src='/assets/img/qst.svg')
          img.wmn-faq(src='/assets/img/wmn-faq.svg')
          
  .analise
    .container
      .visible-anlise        
        div
          .anlise-text
            h2='Проверьте свои симптомы'
            p='Здесь Вы найдете мотивирующий текст для проверки Вашего состояния Septolete® Total в виде леденцов и спрея. Леденцы могут использоваться детьми старше 6 лет, они должны медленно впитываться во рту до полного растворения.'
            .button-anlise.btn-red
              p='Я хочу знать!'
        div  
          img(src='/assets/img/wmn-analise.svg')
      .symps
        h2.head='Какие у вас дополнительные симптомы помимо больного горла?'
        .symp-ins  
          .check-symps          
            .btns-symp
              .symp-btn
                p='Сухой кашель'
              .symp-btn
                p='Влажный кашель'
              .symp-btn
                p='Насморк'
              .symp-btn
                p='Боль в теле'
              .symp-btn
                p='Температура'
              .symp-btn
                p='Потеря энергии'
            .info-s
              img(src='/assets/img/if.svg')
              p='Информация, размещенная на сайте, носит справочный характер и не может считаться консультацией медицинского работника или заменить ее. Для получения более подробной информации мы рекомендуем вам обратиться к специалисту.'  
          .pills-check
            .pill-ins
              .ins-text
                h2='«Налгезин»'
                p='Тут небольшой текст про то что он поможет от чего-то, мотивирующий текст перейти и узнать подробнее. Тут небольшой текст про то что он поможет от чего-то, мотивирующий текст перейти и узнать подробнее.'
                .button-more.btn-blue
                  a(href='/')='Узнать подробнее'  
              .ins-img
                img(src='/assets/img/nalg.svg')
          .choose-symps
            h2='Выберите симптомы которые вас беспокоят'
