include ../utils/mixins
block variables


doctype html
html(lang='ru')
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(sizes="76x76", href="/assets/img/asdasd.png", rel="apple-touch-icon")
        link(sizes="120x120", href="/assets/img/asasd.png", rel="apple-touch-icon")
        link(sizes="152x152", href="/assets/img/favicon_safari.png", rel="apple-touch-icon")
        link(sizes="180x180", href="/assets/img/asdasd.png", rel="apple-touch-icon")
        link(rel="icon", type="image/png", sizes="64x64", href="/assets/img/favicon.ico")
        link(rel="shortcut icon", href="/assets/img/favicon.ico")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="description", content=description)
        title #{title}

        block css
    body(class=bodyclass)
        include ../includes/header
        .container
            block breadcrumbs
            block h1
        block content
        include ../includes/forms
        include ../includes/footer
        block script
